
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto/Bold/Roboto-Bold.eot');
    src: url('../fonts/Roboto/Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Bold/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto/Bold/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto/Bold/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/Roboto/Bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto/Regular/Roboto-Regular.eot');
    src: url('../fonts/Roboto/Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Regular/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto/Regular/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto/Regular/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto/Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto/Light/Roboto-Light.eot');
    src: url('../fonts/Roboto/Light/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Light/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto/Light/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto/Light/Roboto-Light.ttf') format('truetype'),
    url('../fonts/Roboto/Light/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto/Medium/Roboto-Medium.eot');
    src: url('../fonts/Roboto/Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Medium/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto/Medium/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto/Medium/Roboto-Medium.ttf') format('truetype'),
    url('../fonts/Roboto/Medium/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura/Regular/SVN-Futura.eot');
    src: url('../fonts/Futura/Regular/SVN-Futura.woff2') format('woff2'),
    url('../fonts/Futura/Regular/SVN-Futura.woff') format('woff'),
    url('../fonts/Futura/Regular/SVN-Futura.ttf') format('truetype'),
    url('../fonts/Futura/Regular/SVN-Futura.svg#SVN-Futura') format('svg'),
    url('../fonts/Futura/Regular/SVN-Futura.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'UTM-Dax';
    src: url('../fonts/Daxline/Regular/UTM Dax.eot');
    src: url('../fonts/Daxline/Regular/UTM Dax.woff2') format('woff2'),
    url('../fonts/Daxline/Regular/UTM Dax.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/Daxline/Regular/UTMDaxline.woff') format('woff'),
    url('../fonts/Daxline/Regular/UTMDaxline.ttf') format('truetype'),
    url('../fonts/Daxline/Regular/UTMDaxline.svg#UTMDaxline') format('svg');
    font-weight: normal;
    font-style: normal;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10,
.col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11,
.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2,
.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
    padding: 0 10px;
}
.row {
    margin: 0 -10px;
}

html, body, div, dl, dt, dd, ul,  h1, h2, h3,  pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
body {
    font-family: 'UTM-Dax';
    font-size: 14px;
    color: #737373;
}
ul {
    padding: 0; margin: 0;
}
ul, li {
    list-style: none
}
button:focus , input:focus, textarea:focus  {
    outline: none
}
span {
    display: inline-block
}
a{
    color: #212121;
}
a:hover , a:focus{
    text-decoration: none;
    color:  #0047ab;
    transition: all 0.4s ease;
}

.container{
    max-width: 1010px;
    padding: 0 10px;
    width: 100%;
}
body img{
    max-width: 100%;
    transition: all ease 0.4s;
}
input, select{
    transition: all ease 0.4s;
}
textarea{
    border: 1px solid #000;
    min-height: 116px;
    padding: 15px;
}
button{
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: 0.3s all ease;
}

iframe{
    display: block;
    max-width: 100%;
    width: 100%;
}
.btn{
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 7px 24px;
    border-radius: 12px;
    transition: 0.3s all ease;
}
.btn:hover{
    background: #fff;
    color: #000;
}
h1 {font-size: 34px}
h2 {font-size: 30px}
h3 {font-size: 28px}
h4 {font-size: 24px}
h5 {font-size: 16px}
h6 {font-size: 14px}
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    line-height: 1.5;
}
.flex {
    display: flex;
    display: -webkit-flex;
}
.flex-center {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.flex-center-center {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
.flex-center-end {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-end;
}
.flex-center-start {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
}
.flex-center-between {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
}
.inflex-center-center {
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    justify-content: center;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.pd-60 {
    padding: 60px 0;
}
img {
    transition: all ease 0.5s;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bfbfbf;
    font-size: 14px;
    font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #bfbfbf;
    font-size: 14px;
    font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #bfbfbf;
    font-size: 14px;
    font-weight: 300;
}
:-moz-placeholder { /* Firefox 18- */
    color: #bfbfbf;
    font-size: 14px;
    font-weight: 300;
}
.mg-20 {
    margin: 20px 0;
}
.mgb-20 {
    margin-bottom: 20px;
}
.mgt-20 {
    margin-top: 20px;
}
.search form {
    display: flex;
    display: -webkit-flex;
}
.search form input,
.search form button {
    background: #fff;
    border: solid 1px #9e9e9e;
    height: 40px;
}
.search form input {
    border-right: none;
    border-radius: 0;
    color: #212121;
    padding: 5px 10px;
    transition: all ease 0.5s;
    width: 100%;
}
.search form button {
    background-color: #252525;
    border-color: #252525;
    color: #fff;
    border-left: none;
    border-radius: 0 ;
    font-size: 20px;
    width: 40px;
}

.slider-general.owl-carousel .owl-item img {
    display: inline-block;
    width: 100%;
}
.slider-general.owl-carousel .owl-nav {
    display: block !important;
}
.slider-general.owl-carousel .owl-nav > div {
    position: absolute;
    top: 45%;
}
.slider-general.owl-carousel .owl-next {
    right: -30px;
}
.slider-general.owl-carousel .owl-prev {
    left: -30px;
}
.zoom {
    display: block;
    overflow: hidden;
}
.zoom:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.effect {
    display: block;
    position: relative;
}
.effect:hover {
    color: #fff;
}
.effect::before, .effect::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    height: calc( 100% - 18px);
    width: calc( 100% - 18px);
    transform-origin: center;
}
.effect::before {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale3d(0, 1, 1);
}
.effect:hover::before, .effect:hover::after{
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s;
}
.effect::after {
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale3d(1, 0, 1);
}
/*-----------Style------------*/
header {
    background-color: rgba(0, 128, 128, 0.6);
    box-shadow: 0 1px 0 0 #cbcbcb;
    padding-top: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
}

.header-nav.flex {
    justify-content: flex-end;
    height: 100%;
}
.language {
    align-items: flex-end;
    padding-bottom: 25px;
}
.language a {
    margin: 0 5px;
}
.header-nav > ul {
    align-items: flex-end;
}
.header-nav > ul > li {
    margin-right: 40px;
    position: relative;
}
.header-nav > ul > li > a {
    font-family: 'Futura';
    border-bottom: 3px solid transparent;
    display: inline-flex;
    align-items: center;
    padding-bottom: 20px;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}

.header-nav >ul > li > a:focus {
    outline: none;
}
.header-nav li a i {
    font-size: 18px;
    margin-right: 10px;
}
.header-nav li a:hover, .header-nav li.active a {
    border-color: #fff;
    font-weight: bold;
}
.header-nav >ul > li span {
    border-bottom: 1px solid #fff;
}
.header-nav >ul > li:last-child {
    margin-left: 30px;
}
.header-nav li:last-child a:hover {
    border-color: transparent;
}
.header.active .logo img {
    transition: max-height 0.4s ease;
}
.header.active .logo img {
    max-height: 50px;
}
.menu-sub {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 140px;
}
.menu-sub li {
    background-color: rgba(0, 128, 128, 0.8);
    padding: 5px 10px;
}
.menu-sub li a {
    color: #fff;
    text-transform: capitalize;
}
.menu-sub li:hover {
    background-color: rgba(0, 106, 106, 0.8);
}
.header-nav > ul > li:hover .menu-sub {
    display: block;
}
.logo {
    padding-bottom: 10px;
}
.banner-slider .owl-dots {
    display: flex !important;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.banner-slider .owl-dot span {
    border: solid 1px #ffffff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 0 7px;
}
.banner-slider .owl-dot.active span {
    background: #fff;
}
.title-index {
    color: #737373;
    font-size: 36px;
    font-family: 'UTM-Dax';
    margin-bottom: 30px;
    text-align: center;
}
.pd-30 {
    padding: 30px 0;
}
.about-image {
    background: #fff;
    box-shadow: 0 10px 14.6px 0.5px rgba(0, 0, 0, 0.2);
    padding: 15px;
}
.desc {
    line-height: 1.7;
}
.about-index .desc {
    max-width: 690px;
    margin: 20px auto;
    text-align: center;
}
.btn-border {
    width: 207px;
    height: 41px;
    background-color: #f8f8f8;
    border: solid 1px #969696;
}
.btn-border:hover {
    background: #969696;
    color: #fff;
}
.window {
    width: 100%;
    position: relative;
    height: 394px;
}
.split-screen-cta {
    width: 50%;
    height: 100%;
    position: absolute;
    -webkit-transition: all 1s;
    transition: all 1s;
    top: 0px;
    background-position: 50% 50%;
    background-size: cover;

}
.split-screen-cta-acomotion {
    width: 50%;
    height: 100%;
    position: absolute;
    -webkit-transition: all 1s;
    transition: all 0.5s;
    top: 0px;
    background-position: 50% 50%;
    background-size: cover;
}

.left-half {
    left: 0;
    background-image: url(../images/picture/banner-3.jpg);
}

.right-half {
    right: 0;
    background-image: url(../images/picture/banner-4.jpg);
}
.active-acomotion {
    width: 75%;
}
.active-acomotion-detail {
    width: 54%;
}
.small-acomotion-detail {
    width: 46%;
}
.small-acomotion {
    width: 25%;
}
.cta-content {
    position: absolute;
    display: inline-block;
    top: 50%;
    margin-top: -39px;
    height: 80px;
    line-height: 80px;
    background: #413c3c;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: .9;
    -khtml-opacity: .9;
    opacity: .9;

    font-family: 'Whitney-Light', "Jaldi", sans-serif;
    width: 160px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.inline-icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    min-width: 100px;
    font-size: 14px;
    height: 100%;
    padding: 0 00px;
    -webkit-transition: all .3s ease 0s;
    -khtml-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
a.cta-content:hover {
    text-decoration: none;
    color: #fff;
}
.cta-content small.inline-icon i {
    padding: 0 10px;
}
.left-half .cta-content {
    right: 0;
    text-align: right;
    padding-right: 30px;
}
.right-half .cta-content {
    left: 0;
    text-align: left;
    padding-left: 30px;
}
.active-cta-content {
    width: 350px;
    height: 120px;
    line-height: 120px;
    top: 45.5%;
}
.cta-content p.cta-text {
    line-height: 20px;
    max-width: 180px;
    vertical-align: middle;
    float: left;
    display: block;
    text-transform: lowercase;
    margin: 40px 0 0 10px;
}
.cta-content i {
    margin: 0 5px;
}
.room .desc {
    margin: 20px auto;
    max-width: 865px;
    text-align: center;
}
.images-well .absolute {
    background: rgba(67, 67, 67, 0.5);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    transform: scale(0);
    transition: all ease 0.5s;
}
.item-service .btn-border {
    background: transparent;
    border-color: #fff;
    color: #fff;
}
.images-well:hover .absolute {
    transform: scale(1);
}
.item-service h3 {
    margin-top: 10px;
    text-transform: uppercase;
}
.item-service h3 a {
    color: #333;
}
.item-service h3 a:hover {
    color: #8f724c;
    text-decoration: none;
}
.item-service .balance {
    padding: 10px;
}
.news-item h4 {
    margin: 10px 0;
}
.news-item h4 a {
    color: #737373;
    font-size: 30px;
}
.news-slider.slider-general.owl-carousel .owl-prev {
    left: 15px;
}
.news-slider.slider-general.owl-carousel .owl-next {
    right: 15px;
}
.parten {
    padding: 60px 0 30px;
}
.parten-slider .owl-item img {
    width: auto !important;
}
.footer-info {
    background-color: #008080;
    color: #e2e2e2;
    font-family: 'Futura';
    font-size: 18px;
    padding: 15px 0;
}
.pdt {
    padding-top: 10px;
}
.footer-info h5 {
    color: #ffffff;
    font-weight: bold;
}
.mgt-5 {
    margin-bottom: 5px;
}
.footer-address {
    background-color: #006a6a;
    color: #ffffff;
    padding: 30px 0 20px 0;
}
.footer-address a {
    color: #fff;
}
.footer-address a.fa {
    border: solid 1px #ffffff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}
.footer-address a.fa:hover {
    background: #fff;
    color: #006a6a;
}
.footer-address h4 {
    font-family: 'Futura';
    font-size: 20px;
}
.footer-nav {
    margin-bottom: 20px;
}
.footer-nav a{
    text-transform: uppercase;
}
.footer-nav li {
    margin: 0 15px;
}
.footer-nav li a {
    font-family: 'Futura';
    font-size: 14px;
}
.rooms {
    padding: 60px 0;
}
.rooms .col-md-6 .desc {
    max-width: 395px;
    margin: 0 auto;
}
.rooms .news-item {
    margin-bottom: 20px;
}
.rooms .news-item h4 a {
    font-size: 20px;
}
.rooms .container > .news-item .desc {
    max-width: 690px;
    margin: 0 auto;
}
.room-related .small-acomotion {
    width: 48%;
}
.room-related .active-acomotion {
    width: 52%;
}
.title-page {
    font-size: 28px;
    color: #222222;
    margin-bottom: 20px;
    text-align: center;
}
.room-nav {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 0 0 #ffffff;
    margin-top: -38px;
    position: relative;
    z-index: 2;
}
.room-image {
    border: solid 1px #bababa;
    padding: 10px;
}
#room .desc {
    font-size: 15px;
    margin: 15px auto;
    max-width: 840px;
    text-align: justify;
}
.room-nav .nav-tabs .nav-link {
    border: none;
    border-radius: 0;
}
.room-nav .nav-tabs .nav-item.show .nav-link,
.room-nav .nav-tabs .nav-link.active {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}
#price table tr td {
    padding: 6px!important;
    border-color: #bbb;
    width: auto;
}
.room-slider.slider-general .owl-nav > div {
    top: calc((100% - 116px)/2);
    top: -webkit-calc((100% - 116px)/2);
}
.room-slider.slider-general .owl-prev {
    left: -10px !important;
}
.room-slider.slider-general .owl-next {
    right: -10px !important;
}
.bar-text p {
    line-height: 1.7;
    margin-bottom: 15px;
}
.bar-slider.slider-general .owl-prev {
    left: 10px !important;
}
.bar-slider.slider-general .owl-next {
    right: 10px !important;
}
.bar-slider .owl-dots {
    display: flex !important;
    justify-content: center;
    margin-top: 10px;
}
.bar-slider .owl-dot span {
    background: #9a9a9a;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin: 0 7px;
}
.bar-slider .owl-dot.active span {
    background: #181818;
}
.service .container-fluid {
    padding: 0;
}
.service-item .row {
    margin: 0;
}
.service-text {
    padding: 30px 60px;
}
.order-1 .service-text {
    text-align: right;
}
.service-text .desc {
    margin: 20px 0;
}
.service-text a {
    font-size: 16px;
    text-transform: uppercase;
}
.service-text h4 a {
    font-size: 24px;
}
.form-group {
    margin-bottom: 10px;
}
.form-group p {
    margin-bottom: 5px;
}
.form-group input, .form-group select {
    border: 1px solid #9a9a9a;
    display: block;
    height: 40px;
    padding: 5px 10px;
    width: 100%;
}
.modal-dialog {
    background: #f8f8f8;
    max-width: 800px;
    padding: 30px 5%;
}
.modal-content {
    background: transparent;
    border-radius: 0;
    border: none;
}
.modal-header {
    border: none;
}
.modal-header h5 {
    width: 100%;
}
.modal-footer button {
    border-radius: 0;
}
.news-it {
    margin-bottom: 30px;
}
.news-image {
    background: #fff;
    border: solid 1px #9e9e9e;
    display: block;
    margin: 20px 0;
    padding: 10px;
}
.news-image img {
    width: 100%;
}
.news-it h4 a{
    color: #9b8344;
}
.xt {
    background-color: #000000;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content:center;
    margin-top: 20px;
    width: 125px;
    height: 32px;
}
main {
    background: #f8f8f8;
}
.block-hori {
    display: flex;
    align-items: center;
}
.hori-left {
    flex: 0 0 80px;
    -webkit-flex: 0 0 80px;
    max-width: 80px;
    margin-right: 10px;
}
.hori-right p a {
    font-size: 14px;
}
.galery ul {
    flex-wrap: wrap;
}
.galery li {
    flex: 0 0 calc(100%/3);
    -webkit-flex: 0 0 calc(100%/3);
}
.galery li a {
    display: block;
}
.galery li a, .galery li a img {
    width: 100%;
}
.news-hot li {
    border-bottom: 1px solid #d8d8d8;
    padding: 15px 0;
}
.position-sticky {
    top: 80px;
}
.news-details {
    background: #fff;
}
.news-detail p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.news-detail h1 {
    font-size: 24px;
    color: #9b8344;
    margin-bottom: 10px;
}
.form-contact {
    background: url("../images/picture/bg-contact.jpg") no-repeat center /cover;
    padding: 60px 0;
}
.form-contact h1 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.form-contact input, .form-contact textarea {
    border: none;
    display: block;
    margin-bottom: 15px;
    padding: 5px 10px;
    width: 100%;
}
.form-contact input {
    height: 40px;
}
.form-contact button {
    background: #000;
    border: none;
    color: #fff;
    padding: 10px 25px;
    text-transform: uppercase;
}
.info {
    margin-bottom: 20px;
}
.info i {
    color: #000;
    font-size: 22px;
}
.info p:nth-child(2) {
    color: #000;
    font-size: 16px;
    margin: 10px 0;
}
.form-contact ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #555555;
}
.form-contact ::-moz-placeholder { /* Firefox 19+ */
    color: #555555;
}
.form-contact :-ms-input-placeholder { /* IE 10+ */
    color: #555555;
}
.form-contact :-moz-placeholder { /* Firefox 18- */
    color: #555555;
}
.item-service img {
    width: 100%;
}